
.octopus_outfit {


	position: relative;
	margin-left: 500px;
	margin-bottom: 200px;
	margin-right:500px;
	margin-top: 200px;
}



#octopus {


	position: absolute;

	margin-top: 80px;
	margin-left:25px;
	


}

#hat {


	position: absolute;
	margin-left: 10px;
	margin-bottom: 200px;



}


#glasses {

	position: absolute;
	margin-top: 180px;
	margin-left: 65px;
	margin-bottom: 400px;
}